node-red.json
[
	{
		"id": "eb89cc6e.d7499",
		"type": "tab",
		"label": "Flow 1"
	},
	{
		"id": "fb26157e.170988",
		"type": "debug",
		"z": "eb89cc6e.d7499",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "payload",
		"x": 630,
		"y": 700,
		"wires": []
	},
	{
		"id": "4962bfbc.ba63",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Speed Medium",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 188.88892364501953,
		"y": 167.0000171661377,
		"wires": [
			[
				"df50474d.cf5308"
			]
		]
	},
	{
		"id": "df50474d.cf5308",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/red/speed\"\nmsg.payload = 500\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 334.7777900695801,
		"y": 166.88891220092773,
		"wires": [
			[
				"a23f2067.3fad"
			]
		]
	},
	{
		"id": "2c65434a.a4d60c",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Speed High",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 178.88891983032227,
		"y": 203.11116981506348,
		"wires": [
			[
				"c18e994a.002e18"
			]
		]
	},
	{
		"id": "c18e994a.002e18",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/red/speed\"\nmsg.payload = 1000\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 336.666690826416,
		"y": 203.0000057220459,
		"wires": [
			[
				"a23f2067.3fad"
			]
		]
	},
	{
		"id": "cf6eb46d.cc1d38",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Speed Zero",
		"topic": "",
		"payload": "",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 178.88893508911133,
		"y": 130.88887310028076,
		"wires": [
			[
				"119a72f6.dca0fd"
			]
		]
	},
	{
		"id": "14677ca6.c07853",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Ping",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 167.7778205871582,
		"y": 390.77779483795166,
		"wires": [
			[
				"fe994946.65ba28"
			]
		]
	},
	{
		"id": "fe994946.65ba28",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/red/ping\"\nmsg.payload = \"\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 336.66669845581055,
		"y": 390.3332920074463,
		"wires": [
			[
				"a23f2067.3fad"
			]
		]
	},
	{
		"id": "ca027847.158ee8",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Disconnect",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 177.77781677246094,
		"y": 429.2221965789795,
		"wires": [
			[
				"43df0cf1.33e974"
			]
		]
	},
	{
		"id": "43df0cf1.33e974",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/red/quit\"\nmsg.payload = \"\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 336.4444770812988,
		"y": 429.11109161376953,
		"wires": [
			[
				"a23f2067.3fad"
			]
		]
	},
	{
		"id": "d0597053.f9a38",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Battery",
		"topic": "",
		"payload": "",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 167.77781677246094,
		"y": 466.7777805328369,
		"wires": [
			[
				"5bc98da2.2ded04"
			]
		]
	},
	{
		"id": "5bc98da2.2ded04",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/red/battery\"\nmsg.payload = \"\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 336.3333282470703,
		"y": 466.99994945526123,
		"wires": [
			[
				"a23f2067.3fad"
			]
		]
	},
	{
		"id": "4655b388.48b9fc",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Version",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 167.8889389038086,
		"y": 505.1110897064209,
		"wires": [
			[
				"725fe706.d98528"
			]
		]
	},
	{
		"id": "725fe706.d98528",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/red/version\"\nmsg.payload = \"\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 336.6667366027832,
		"y": 504.77782440185547,
		"wires": [
			[
				"a23f2067.3fad"
			]
		]
	},
	{
		"id": "b416312f.06e03",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Lights",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 167.88894653320312,
		"y": 543.6666612625122,
		"wires": [
			[
				"eb284828.b17398"
			]
		]
	},
	{
		"id": "8dc522b4.3b251",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Lights Pattern",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 185.77781677246094,
		"y": 581.5555124282837,
		"wires": [
			[
				"f5dac531.6db3f8"
			]
		]
	},
	{
		"id": "eb284828.b17398",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/red/light\"\nmsg.payload = \"\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 336.44450759887695,
		"y": 543.5555305480957,
		"wires": [
			[
				"a23f2067.3fad"
			]
		]
	},
	{
		"id": "f5dac531.6db3f8",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/blue/lightpattern\"\nmsg.payload = \"\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 336.66669845581055,
		"y": 581.4444561004639,
		"wires": [
			[
				"a23f2067.3fad"
			]
		]
	},
	{
		"id": "ba21869d.8e2128",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "Store Offset",
		"func": "// store the value \ncontext.set('offsetGroundShock',msg.payload);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 650,
		"y": 660,
		"wires": [
			[]
		]
	},
	{
		"id": "9f3a5750.a0b888",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Turn Left",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 170.00005340576172,
		"y": 299.55554962158203,
		"wires": [
			[
				"68fe4668.8ecb98"
			]
		]
	},
	{
		"id": "68fe4668.8ecb98",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "var newOffset = 0.0;\nnewOffset = (context.get('offsetSkull')||0) - 30.0;\nmsg.topic = \"hackathon2-ecxio/car/red/changelane\"\nmsg.payload = newOffset\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 335.66668701171875,
		"y": 299.33333349227905,
		"wires": [
			[
				"a23f2067.3fad"
			]
		]
	},
	{
		"id": "9c79caa5.781638",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Turn Right",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 174.44449996948242,
		"y": 336.9999933242798,
		"wires": [
			[
				"974deac0.31aed8"
			]
		]
	},
	{
		"id": "974deac0.31aed8",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "var newOffset = 0.0;\nnewOffset = (context.get('offsetSkull')||0) + 30.0;\nmsg.topic = \"hackathon2-ecxio/car/red/changelane\"\nmsg.payload = newOffset\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 335.5555725097656,
		"y": 337.11109352111816,
		"wires": [
			[
				"a23f2067.3fad"
			]
		]
	},
	{
		"id": "3fd81543.8c72ba",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Speed Medium",
		"topic": "",
		"payload": "",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 739.6667098999023,
		"y": 215.44447326660156,
		"wires": [
			[
				"5c11534f.83684c"
			]
		]
	},
	{
		"id": "5c11534f.83684c",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/blue/speed\"\nmsg.payload = 500\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 885.5555763244629,
		"y": 215.3333683013916,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "e9394a73.87a368",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Speed High",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 729.6667060852051,
		"y": 251.55562591552734,
		"wires": [
			[
				"443a6279.d5839c"
			]
		]
	},
	{
		"id": "443a6279.d5839c",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/blue/speed\"\nmsg.payload = 1000\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 887.4444770812988,
		"y": 251.44446182250977,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "6a6961de.deb39",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Speed Zero",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 729.6667213439941,
		"y": 179.33332920074463,
		"wires": [
			[
				"412a6367.8534ec"
			]
		]
	},
	{
		"id": "412a6367.8534ec",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/blue/speed\"\nmsg.payload = 0\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 886.3333511352539,
		"y": 179.33331489562988,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "6d56ffeb.b32d",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Ping",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 718.555606842041,
		"y": 394.2222509384155,
		"wires": [
			[
				"65778f89.fd1f2"
			]
		]
	},
	{
		"id": "65778f89.fd1f2",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/blue/ping\"\nmsg.payload = \"\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 887.4444847106934,
		"y": 393.77774810791016,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "7bc9eedb.199e1",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Disconnect",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 728.5556030273438,
		"y": 432.66665267944336,
		"wires": [
			[
				"17198803.f27d38"
			]
		]
	},
	{
		"id": "17198803.f27d38",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/blue/quit\"\nmsg.payload = \"\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 887.2222633361816,
		"y": 432.5555477142334,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "751be7bb.531f28",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Battery",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 718.5556030273438,
		"y": 470.2222366333008,
		"wires": [
			[
				"d0e34b16.d452b8"
			]
		]
	},
	{
		"id": "d0e34b16.d452b8",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/blue/battery\"\nmsg.payload = \"\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 887.1111145019531,
		"y": 470.4444055557251,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "d90164fe.71c3e8",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Version",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 718.6667251586914,
		"y": 508.55554580688477,
		"wires": [
			[
				"ed70dc55.2ff88"
			]
		]
	},
	{
		"id": "ed70dc55.2ff88",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/blue/version\"\nmsg.payload = \"\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 887.444522857666,
		"y": 508.22228050231934,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "eef8408d.7e9b7",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Lights",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 718.6667327880859,
		"y": 547.1111173629761,
		"wires": [
			[
				"3810283b.9b9ab8"
			]
		]
	},
	{
		"id": "45589767.e4d168",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Lights Pattern",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 736.5556030273438,
		"y": 584.9999685287476,
		"wires": [
			[
				"38f85490.69e0bc"
			]
		]
	},
	{
		"id": "3810283b.9b9ab8",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/blue/light\"\nmsg.payload = \"\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 887.2222938537598,
		"y": 546.9999866485596,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "38f85490.69e0bc",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/blue/lightpattern\"\nmsg.payload = \"\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 887.4444847106934,
		"y": 584.8889122009277,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "8723490d.e70508",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Turn Left",
		"topic": "",
		"payload": "",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 720.7778396606445,
		"y": 303.0000057220459,
		"wires": [
			[
				"9d135b55.65b068"
			]
		]
	},
	{
		"id": "9d135b55.65b068",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "var newOffset = 0.0;\nnewOffset = (context.get('offsetGroundShock')||0) - 30.0;\nmsg.topic = \"hackathon2-ecxio/car/blue/changelane\"\nmsg.payload = newOffset\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 886.4444732666016,
		"y": 302.7777895927429,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "7eb5c0a7.97daf",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Turn Right",
		"topic": "",
		"payload": "",
		"payloadType": "none",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 725.2222862243652,
		"y": 340.44444942474365,
		"wires": [
			[
				"6bc298f2.52bf68"
			]
		]
	},
	{
		"id": "6bc298f2.52bf68",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "var newOffset = 0.0;\nnewOffset = (context.get('offsetGroundShock')||0) + 30.0;\nmsg.topic = \"hackathon2-ecxio/car/blue/changelane\"\nmsg.payload = newOffset\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 886.3333587646484,
		"y": 340.55554962158203,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "954db70.fb54548",
		"type": "mqtt in",
		"z": "eb89cc6e.d7499",
		"name": "",
		"topic": "hackathon2-ecxio/car/blue/telemetrie/offset",
		"qos": "2",
		"broker": "3e8243bc.663c2c",
		"x": 330,
		"y": 660,
		"wires": [
			[
				"ba21869d.8e2128",
				"fb26157e.170988"
			]
		]
	},
	{
		"id": "76777773.2c7c28",
		"type": "mqtt out",
		"z": "eb89cc6e.d7499",
		"name": "Blue Anki",
		"topic": "",
		"qos": "2",
		"retain": "",
		"broker": "3e8243bc.663c2c",
		"x": 1320,
		"y": 300,
		"wires": []
	},
	{
		"id": "1bfbadc4.a23292",
		"type": "debug",
		"z": "eb89cc6e.d7499",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "true",
		"x": 530,
		"y": 540,
		"wires": []
	},
	{
		"id": "a23f2067.3fad",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "return msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 510,
		"y": 380,
		"wires": [
			[
				"76777773.2c7c28",
				"1bfbadc4.a23292"
			]
		]
	},
	{
		"id": "119a72f6.dca0fd",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/red/speed\"\nmsg.payload = 0\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 330,
		"y": 115,
		"wires": [
			[
				"a23f2067.3fad"
			]
		]
	},
	{
		"id": "c7a5554b.31eeb8",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "var d = { \n    action: \"#s\",\n    speed: \"-100\",\n    accel: \"12500\",\n};\nmsg.d = d;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 870,
		"y": 120,
		"wires": [
			[]
		]
	},
	{
		"id": "b9c5f3ea.1976c",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Umdrehen",
		"topic": "",
		"payload": "",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 700,
		"y": 120,
		"wires": [
			[
				"c7a5554b.31eeb8"
			]
		]
	},
	{
		"id": "21e07bd7.a70f84",
		"type": "mqtt in",
		"z": "eb89cc6e.d7499",
		"name": "",
		"topic": "hackathon2-ecxio/car/red/telemetrie/offset",
		"qos": "2",
		"broker": "3e8243bc.663c2c",
		"x": 340,
		"y": 720,
		"wires": [
			[
				"fb26157e.170988",
				"7cea83ac.f2e61c"
			]
		]
	},
	{
		"id": "7cea83ac.f2e61c",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "Store Offset",
		"func": "// store the value \ncontext.set('offsetSkull',msg.payload);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 650,
		"y": 740,
		"wires": [
			[]
		]
	},
	{
		"id": "f8995696.e557f8",
		"type": "inject",
		"z": "eb89cc6e.d7499",
		"name": "Speed Highspeed",
		"topic": "",
		"payload": "",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 170,
		"y": 240,
		"wires": [
			[
				"27e38510.039c3a"
			]
		]
	},
	{
		"id": "27e38510.039c3a",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "",
		"func": "msg.topic = \"hackathon2-ecxio/car/red/speed\"\nmsg.payload = 1500\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 330,
		"y": 240,
		"wires": [
			[
				"a23f2067.3fad"
			]
		]
	},
	{
		"id": "9ea18ad4.cce5d8",
		"type": "comment",
		"z": "eb89cc6e.d7499",
		"name": "RED",
		"info": "",
		"x": 188.5,
		"y": 56,
		"wires": []
	},
	{
		"id": "7444e4a9.e2bfdc",
		"type": "comment",
		"z": "eb89cc6e.d7499",
		"name": "BLUE",
		"info": "",
		"x": 670,
		"y": 60,
		"wires": []
	},
	{
		"id": "433953ed.6961fc",
		"type": "mqtt in",
		"z": "eb89cc6e.d7499",
		"name": "",
		"topic": "hackathon2-ecxio/car/red/telemetrie/delocated",
		"qos": "2",
		"broker": "3e8243bc.663c2c",
		"x": 320,
		"y": 780,
		"wires": [
			[
				"35d4e4b1.af21fc",
				"fb26157e.170988"
			]
		]
	},
	{
		"id": "4d532367.6b14bc",
		"type": "mqtt in",
		"z": "eb89cc6e.d7499",
		"name": "",
		"topic": "hackathon2-ecxio/car/blue/telemetrie/delocated",
		"qos": "2",
		"broker": "3e8243bc.663c2c",
		"x": 320,
		"y": 840,
		"wires": [
			[
				"fb26157e.170988",
				"db31236f.37057"
			]
		]
	},
	{
		"id": "35d4e4b1.af21fc",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "Store Offset",
		"func": "var count = context.get('delocatedcountred')||0;\ncount += 1;\n// store the value back\ncontext.set('delocatedcountred',count);\n// make it part of the outgoing msg object\nmsg.topic = \"hackathon2-ecxio/car/red/delocatedcount\"\nmsg.payload = count;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 790,
		"y": 800,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "db31236f.37057",
		"type": "function",
		"z": "eb89cc6e.d7499",
		"name": "Store Offset",
		"func": "var count = context.get('delocatedcountblue')||0;\ncount += 1;\n// store the value back\ncontext.set('delocatedcountblue',count);\n// make it part of the outgoing msg object\nmsg.topic = \"hackathon2-ecxio/car/blue/delocatedcount\"\nmsg.payload = count;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 790,
		"y": 840,
		"wires": [
			[
				"76777773.2c7c28"
			]
		]
	},
	{
		"id": "3e8243bc.663c2c",
		"type": "mqtt-broker",
		"z": "",
		"broker": "test.mosquitto.org",
		"port": "1883",
		"clientid": "",
		"usetls": false,
		"compatmode": true,
		"keepalive": "60",
		"cleansession": true,
		"willTopic": "",
		"willQos": "0",
		"willPayload": "",
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": ""
	}
]